#!/bin/bash

echo "[chezmoi] Installing essential packages..."

sudo xbps-install -y \
  i3 i3status kitty alacritty ghostty \
  zsh vim neovim git stow go telegram-desktop Signal-Desktop \
  rofi   feh xsecurelock copyq   firefox sioyek vlc tor flatpak starship  xfe \
  xorg-minimal xinit pulseaudio setxkbmap dbus elogind

echo "[chezmoi] Setting Zsh as default shell..."
chsh -s /bin/zsh

echo "[chezmoi] Package installation complete."

